{% extends 'basic.html' %}
{% load static %}
{% block title %}home page{%  endblock %}
{%  block content %}
   <div class="text-center">
       <h1 style="color: red;">COMPANY PROFILE</h1>
   </div>
   <di>
       <div class="col-lg-7">
           <p class="h3" style="color: red;">
               Company Profie
Dongguan Huayi Star Electronic Technology Co., Ltd. is professional Adult Sex Toys manufacturer engaged in R&D, production, sales,
and service.

OEM & ODM can be provided. We design and make our products according to customers' specifications or requirements.
Our Service
Technical Support:
Huayi Star has continuously tried to improve products quality, and develops more new products. Our professional engineer team
focus on R & D continually provide our clients satisfied products and design, help them to keep on the top of their markets.
Meanwhile, OEM & ODM can be provided. We design and make our products according to customers' specifications or requirements.

Quality Assurance:
Our main products include Kegal Balls, Vibrator, Massage Wand, Sex Clothes, SM Bondage, Anal Plug,Male Oral Cup, Penis Ring, Electric
Products and related adult products. We have standard warranty for any item produced by Huayi Star. And our products have passed
series of certification such as FDA, CE, RoHS, etc.
We have very strict QC standard. All of our products have passed material testing and finished products one by one testing to
assure 100% quality to our customers.
           </p>
       </div>
       <div class="col-lg-5">
           <img class="img-rounded" src="{% static 'imgs/mmexport1591941945509.jpg' %}">
           <img class="img-circle"  src="{% static 'imgs/mmexport1591941953388.jpg' %}">
           <img class="img-thumbnail" src="{% static 'imgs/mmexport1591941950129.jpg' %}">
       </div>
   </di>
{% endblock %}
